<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width= device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
        <title>Nav Bar</title>
    </head>
    <body>
        <nav class="bg-amber-400">
        <div class="container mx-auto flex justify-between items-center">
            
                <!--logo div-->
            <div class="text-white text-2xl font-semibold">Logo</div>
            
            <!--Navigation Links-->
            <div class="space-x-4">
                <a href = "#" class="text-white hover:underline">Home</a>
            </div>

            <!--Login & Signup buttons-->
            <div>
                <a href = "#" class="text-white mr-4 hover:underline">Login</a>
                <a href = "#" class="bg-white text-blue-500 px-4 py-2 rounded-full hover:bg-blue-100">Signup</a>
            </div>

        </div>
        </nav>
    </body>
</html>