<!-- <!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body class="bg-gray-100 ">
  <nav class="bg-blue-500 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <!-- <div class="text-white text-2xl font-semibold">TM</div>
        
        <!-- Navigation Links -->
        <!-- <div class="space-x-4">
            <a href="/" class="text-white hover:underline">Home</a>
        </div>
        
        <!-- Login and Sign Up Buttons -->
        <!-- <div>
            <a href="/login/" class="text-white mr-4 hover:underline">Login</a>
            <a href="/signup/" class="bg-white text-blue-500 px-4 py-2 rounded-full hover:bg-blue-100">Sign Up</a>
        </div>
    </div>
</nav> --> --> -->
<!-- 
    <h2 class="text-2xl font-semibold text-center my-4">Create Task</h2>

    <form action="/task/create/" method="post" class="container mx-auto p-4 mt-8 bg-white rounded-md shadow-md max-w-md">
        <label for="title" class="text-gray-700 text-sm font-medium">Title:</label>
        <input type="text" id="title" name="title" class="form-input w-full px-3 py-2 rounded-md shadow-sm border border-gray-300 mb-4" placeholder="Title" value="">

        <label for="description" class="text-gray-700 text-sm font-medium">Description:</label>
        <input type="text" id="description" name ="description" class="form-input w-full px-3 py-2 rounded-md shadow-sm border border-gray-300 mb-4" placeholder="Description" value="">

        <label for="state" class="text-gray-700 text-sm font-medium">State:</label>
        <select name="state" id="state" class="form-select w-full px-3 py-2 rounded-md shadow-sm border border-gray-300 mb-4">
            <option value="pending">pending</option>
            <option value="completed">completed</option>
        </select>

        <button type="submit" class="bg-blue-500 text-white rounded-md py-2 px-4 hover:bg-blue-600">Create Task</button>
        <a href="/task" class="underline">Back to dashboard</a>
    </form>
</body> -->
<!-- </html> --> -->